<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My Website</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>Sign up to Your Account</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
               
            </ul>
        </nav>
    </header>

    <section class="login-container">
        <form id="loginForm">User name:</label>
            <label for=" user_name"> <input type="text"  id="user_name" placeholder="Enter your name" required> </label>
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter your email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter your password" required>

            <button type="submit" id="submit" class="btn">Login</button>
            <p>Already have an account? <a href="./login.html">Login</a></p>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
    <script src="Sing_up.js"></script>

</body>
</html>
